.search{
    margin: auto;
    border-radius: 2px;
    margin-left: 32%;
}

.search input{
    padding: 1% 2%;
    font-size: 15px;
    border-radius: 10px;
    /* margin: 2%; */
    margin-right: -10rem;
    border: none;
}

.search h1{
    margin-top:0rem;
    margin-left:4rem;
    color:rgb(20, 54, 85);
}