body{
    background-image: fixed;
}

.form{
    text-align:center;
    background-color: white;
    /* border-radius: 5px; */
    /* width: 1275px; */
    /* margin: 20px auto*/
     padding: 20px 0px 20px 100px ; 
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav h1
  {
    color:white
  }

  .form h1{
    color:rgb(50, 107, 156);
    align-items: center;
    /* font-style:normal;
    font-size: larger; */
  }