.manage-nav-btn-group{
    position: fixed;
    display: flex;
    float: left;
    z-index: 11;
    margin-left: 60%;
    margin-top: 6%;
  }
  .manage-nav-btn-group .button {
      border: none;
      color: #808080;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      background: none;
      font-size: 18px;
      cursor: pointer;
      outline: none;
      box-shadow:none
    }
  
    .manage-nav-btn-group .button:focus { outline: none; }
    
    .manage-nav-btn-group .button:hover {
  
      color:#ffffff;
     
    }
    .manage-nav-btn-group .logout-button {
  
      border: none;
      border-radius: 50px;
      background-color:#485c78;
      color: #f1eded;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      outline: none;
      box-shadow:none;
      margin-top: 5%;
    }
  
    .manage-nav-btn-group .logout-button:focus { outline: none; }
    
    .manage-nav-btn-group .logout-button:hover {
  
      background-color:#f0f0f58c;
      color: black;
      font-weight: 500;
    }