.Auth-form-container
{
    margin-top:0rem;
    height:32.6rem;
    background-color: grey;
}

#submitButton
{
    margin-left:5.5rem;
    padding:0.5rem 1rem 0.5rem 1rem;
}

.Auth-form-title
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(35, 59, 101);
}
.Auth-form
{
    margin-top:0.5rem;
    border:1px solid grey;
}