.bidamount{
    border: none;
    margin: 2% 3%;
    padding: 3%;
}

.currentBid{
    font-family: 'Lora', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: rgb(87, 87, 121);
    letter-spacing: 1px;
    left: 0;
    margin-left: 5px;
}